menu "Teslasynth"

config TESLASYNTH_GPIO_PIN
    int "GPIO Pin"
    default 4
    range 0 39

config TESLASYNTH_DEVICE_NAME
    string "Advertised Device Name"
    default "Teslasynth"

menu "Synth"

config CONFIG_MAX_NOTES
    int "Max notes"
    default 4
    range 1 8
    help
        This is the maximum size possible for notes.
        You can configure max concurrent notes up to this value.
endmenu

menu "Display"

config TESLASYNTH_DISPLAY_ENABLED
    bool "Enable display"
    default "n"
endmenu

endmenu
